@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Inter,sans-serif;
    background:#F8FAFC;
    color:#0F172A;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
}

input{
    outline:none;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#CBD5E1;
    border-radius:20px;
}

::-webkit-scrollbar-track{
    background:#F8FAFC;
} 